### Thư mục Build (Quan trọng nhất) ###
target/
**/target/
build/
**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
gen/

### Maven ###
.mvn/
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties

### Hệ điều hành & Log ###
bin/
*.log
.DS_Store
Thumbs.db

### VS Code ###
.vscode/

### Secrets/Environment ###
.env
.env.*
!.env.example
